body {
  background-color:yellow;
  
}

header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav li {
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 80px;
}

 h1 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 80px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
